.formWrapper {
  width: 100%;
  background-image: url('https://cdn.registerdisney.go.com/v4/asset/bundler/MARVEL/v4/images/v1/marvel-background-web.webp');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  position: relative;
}

.form {
  background-color: #ffffff;
  width: min(80%, 40rem);
  padding: 5rem 2rem;
  border-radius: 1rem;
  margin: 5rem 2rem;
  flex-direction: column;
}

.form img {
  position: absolute;
  top: 0;
  margin-top: 2.75rem;
  width: 9.5rem;
}

.formInputs,
.formTextarea {
  background-color: #eeeeee;
  border: none;
  border-radius: 5px;
  width: 100%;
  padding: 1rem 1.5rem;
  margin-bottom: .25rem;
  resize: none;
}

.formTextarea {
  height: 10rem;
}

.submit {
  width: fit-content;
  padding: .75rem 2rem;
  border: 1px solid transparent;
  border-radius: 25px 5px 25px 5px;
}

.submit:hover {
  background-color: #ffffff;
  color: #ff0000;
  border: 1px solid #ff0000;
}

.nav a {
  text-shadow: 0 0 5px #ffffff;
}

@media (min-width: 40rem) {
  .form {
    padding: 5rem;
  }
}